<div class="modal fade" id="InfoDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert" role="alert" id="arcadia_role">
                    <h4 class="alert-heading" id="arcadia-dialog-title"></h4>
                    <p id="arcadia-dialog-message"></p>
                    <hr>
                    <p id="arcadia-dialog-extraInfo"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
