{% extends "baseLayout.twig" %}

{% block content%}

    <div class="alert alert-warning" role="alert" style="width:40%; margin:auto; margin-top:50px; text-align:center;">
        {% if rows== -1 %}
            Errore di tipo PDOException!
        {% else %}
            Errore!
        {% endif %}
    </div>
 
{% endblock content%}
