<!-- sidebar menu area start -->

<div class="sidebar-header">
    <div class="logo">
        <h1>EscortRoma</h1>
    </div>
</div>
<div class="main-menu">
    <div class="menu-inner">
        <nav>
            <ul class="metismenu" id="menu">
                <li class="">
                    {# <a href="javascript:void(0)" aria-expanded="false"><i class="ti-truck"></i><span>Macchine</span></a>
                    <ul>
                        <li><a href="getAllMachine">Lista Macchine</a></li>
                        <li><a href="addMachine">nuova Macchina</a></li>
                    </ul> #}
                </li>
                <li class="">
                    <a href="javascript:void(0)" aria-expanded="false"><i class="ti-gallery"></i><span>Mappe</span></a>
                    <ul>
                        <li><a href="mapPolygon">Roma</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
