<div id="addModMachine" class="div_hide">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="machineInfo">
                    <h4 class="header-title">Info Macchina</h4>
                    <form id="machineForm">
                        <div class="form-group">
                            <label for="machineName">Nome</label>
                            <input type="text" class="form-control" name="machine_name" id="machine_name" placeholder="Nome della Macchina">
                        </div>
                        <div class="form-group">
                            <label for="machineDescription">Descrizione</label>
                            <input type="text" class="form-control"  id="machine_description" placeholder="Descrizione">
                        </div>
                        <div class="form-group">
                            <label for="machine_drive_shaft">Distanza tra i semi Assi</label>
                            <input type="text" class="form-control" id="machine_drive_shaft" placeholder="Distanza tra i semiassi">
                        </div>
                        <div class="form-group">
                            <label for="machine_max_speed">Velocità massima</label>
                            <input type="text" class="form-control" id="machine_max_speed" placeholder="Velocità Massima">
                        </div>
                        <div class="form-group">
                            <label for="machine_curve_angle">Angolo di sterzata</label>
                            <input type="text" class="form-control" id="machine_curve_angle" placeholder="Angolo di Sterzata">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="actionMod" value="0">
                        </div>
                        <button type="button" id="addModButton" class="btn btn-primary mt-4 pr-4 pl-4">Conferma</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>